@model HexaGone.Models.UserModel

<form id="loginForm" method="post" style="display:block">
    <div class="form-group" id="LoginDiv">
        <label for="loginInputMail" id="loginLabel" style="margin-bottom: 1em">Login:</label>
        <div id="div-Error" style="color:red">
            @Html.ValidationMessage("big Error", Model.errorMessage)
        </div>
        @Html.TextBoxFor(model => model.LoginModel.Username, new { @class = "form-control loginInputText", @placeholder = "Username or Email", @required = "true" })

        @if (Model.LoginModel.Username.Contains("@"))
        {
            Model.LoginModel.Email = Model.LoginModel.Username;
            Model.LoginModel.Username = "";
        }
        else
        {
            Model.LoginModel.Email = "";
        }
        @Html.TextBoxFor(model => model.LoginModel.Password, new { @class = "form-control loginInputText", @placeholder = "Password", @type = "password", @required = "true" })

        @Html.TextBoxFor(model => model.isLogin, "true", new { @id = "isLoginTextBox" })
        <div>
        @Html.CheckBoxFor(model => model.stayLoggedIn, new { @id = "stayLoggedIn"})
        <label for="stayLoggedIn" id="stayLoggedInLabel" style="margin-bottom: 1em; font-size: 1em" >Stay Logged In</label>
        </div>
        <button type="submit" onclick="SubmitLogin()" asp-controller="Home" asp-action="Login" class="btn btn-danger" id="btnFormLogin"> Login </button>
        <button type="button" onclick="ChangeToRegistration()" class="btn btn-info" id="btnFormRegistrieren"> Registrieren </button>


    </div>
</form>

<form id="registrationForm" method="post" style="display:none;">
    <div class="form-group" id="LoginDiv">
        <label for="loginInputMail" id="loginLabel" style="margin-bottom: 1em">Registration:</label>
        <div id="div-Error" style="color:red">
            @Html.ValidationMessage("big Error", Model.errorMessage, new { @id = "div-Error" })
        </div>
        @Html.TextBoxFor(model => model.RegistrationModel.Username, new { @class = "form-control loginInputText", @placeholder = "Username", @required = "true" })

        @Html.TextBoxFor(model => model.RegistrationModel.Email, new { @class = "form-control loginInputText", @placeholder = "Email", @type = "email", @required = "true" })

        @Html.TextBoxFor(model => model.RegistrationModel.Password, new { @class = "form-control loginInputText", @placeholder = "Password", @type = "password", @required = "true" })

        @Html.TextBoxFor(model => model.RegistrationModel.RepeatPassword, new { @class = "form-control loginInputText", @placeholder = "Repeat Password", @type = "password", @required = "true" })

        @Html.TextBoxFor(model => model.isLogin, "false", new { @id = "isLoginTextBox" })
        
        <button type="button" onclick="ChangeToLogin()" class="btn btn-danger" id="btnFormLogin"> Back </button>
        <button type="submit" asp-controller="Home" asp-action="Register" class="btn btn-info" id="btnFormRegistrieren"> Registrieren </button>
    </div>
</form>

<script type="text/javascript">
    function ChangeToRegistration()
    {

        $('#loginForm').css( 'display', 'none' );
        $('#registrationForm').css( 'display', 'block' );
    }
    function ChangeToLogin()
    {
        $('#registrationForm').css( 'display', 'none' );
        $('#loginForm').css( 'display', 'block' );
    }
    window.onload = function reload()
    {
        if (@Model.isLogin == true) {
            $('#registrationForm').css('display', 'none');
            $('#loginForm').css('display', 'block');
        }
        else {
            $('#loginForm').css('display', 'none');
            $('#registrationForm').css('display', 'block');
        }
    }

    function SubmitLogin()
    {
    }

</script>
 